Sprint 1 Testreport.md

– Welke tests zijn uitgevoerd
– Resultaten
